/music
/alpha (2).zip
/alpha.zip
/images/
/old.txt
.idea/workspace-DESKTOP-OSNL0OC.xml
.idea/vcs.xml
.idea/modules.xml
.idea/Mining Simulator.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/discord.xml
.idea/.name
main1.js
*.xml
/saves.txt
